Repository pento/testpress: changes, and which lint-staged commands are due for each by the changed paths.
All: wp-scripts lint-pkg-json, wp-scripts lint-style, wp-scripts lint-js

Detach the `docker-compose down` process, so it can keep running after TestPress exits.
  src/services/docker/index.js
Due: wp-scripts lint-js

Add the WordPress code of conduct.
  CODE_OF_CONDUCT.md
Due: none

Add CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/help_request.md
Due: none

Add a pull request template.
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Rename help_request.md to question.md.
  .github/ISSUE_TEMPLATE/question.md
Due: none

Move README.md docs to their relevant locations
  CONTRIBUTING.md
  README.md
  docs/index.md
  docs/release.md
Due: none

Fix some links
  CONTRIBUTING.md
  README.md
  docs/readme.md
Due: none

Fix support for Docker Toolbox
  src/services/docker/index.js
Due: wp-scripts lint-js

Fix support for Docker Toolbox (#141)
  src/services/docker/index.js
Due: wp-scripts lint-js

Fix light theme colours (#124)
  src/app/style.scss
  src/components/about-panel/style.scss
  src/components/pages/style.scss
  src/components/preferences-panel/style.scss
  src/components/status-panel/style.scss
  src/components/tabs/style.scss
  src/index.scss
Due: wp-scripts lint-style

Disable 'Open Docker' buton after you click it (#125)
  src/components/status-panel/missing-daemon-info.js
Due: wp-scripts lint-js

Fix external links
  src/components/external-link/index.js
  src/components/external-link/style.scss
  src/components/status-panel/missing-daemon-info.js
  src/components/status-panel/missing-folder-info.js
Due: wp-scripts lint-style, wp-scripts lint-js

Use ExternalLink in About and Ready screens
  src/components/about-panel/index.js
  src/components/about-panel/style.scss
  src/components/status-panel/ready-info.js
  src/components/status-panel/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Underline external links
  src/components/external-link/style.scss
Due: wp-scripts lint-style

Fix external links (#121)
  src/components/about-panel/index.js
  src/components/about-panel/style.scss
  src/components/external-link/index.js
  src/components/external-link/style.scss
  src/components/status-panel/missing-daemon-info.js
  src/components/status-panel/missing-folder-info.js
  src/components/status-panel/ready-info.js
  src/components/status-panel/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

A few more tweaks
  CONTRIBUTING.md
  docs/release.md
Due: none

Add Windows build config
  assets/icon.ico
  package.json
Due: none

Add the Windows release process
  docs/release.md
Due: none

Add Windows build config (#142)
  assets/icon.ico
  package.json
Due: none

adds dark buttons (#126)
  src/app/style.scss
Due: wp-scripts lint-style

Move the pointer to the bottom of the window when we're pointing at a bottom tray.
  src/app/style.scss
  src/electron-runner.js
Due: wp-scripts lint-style, wp-scripts lint-js

Tweak the CONTRIBUTING.md docs
  CONTRIBUTING.md
Due: none

Add GitHub documentation and templates. (#139)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  docs/readme.md
  docs/release.md
Due: none

Remove a duplicate paragraph.
  README.md
Due: none

Copy PHP config files to the tools directory (#127)
  package.json
  src/services/docker/index.js
Due: wp-scripts lint-js

Detach the `docker-compose down` process, so it can keep running after TestPress exits. (#129)
  src/services/docker/index.js
Due: wp-scripts lint-js

Add bottom tray support. (#144)
  src/app/style.scss
  src/electron-runner.js
Due: wp-scripts lint-style, wp-scripts lint-js

Link to the Docker Toolbox GitHub repository for downloading.
  CONTRIBUTING.md
  README.md
Due: none

Turn off absolute_redirect in nginx, which prevents the port from changing when redirecting.
  src/services/docker/default.conf
Due: none

Use BaseControl and Button components from @wordpress/components package for basic preferences page
  src/components/preferences-panel/basic-preferences.js
  src/components/preferences-panel/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Use buttons for preferences tabs
  src/components/tabs/index.js
  src/components/tabs/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Use an unordered list for tab headings
  src/components/tabs/index.js
  src/components/tabs/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Use @wordpress/components for the site preferences panel
  src/_mixins.scss
  src/_variables.scss
  src/components/pages/style.scss
  src/components/preferences-panel/site-preferences.js
  src/components/preferences-panel/style.scss
  src/index.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Adjust header height to match previous size
  src/components/pages/style.scss
Due: wp-scripts lint-style

Remove dead code
  src/_variables.scss
  src/components/preferences-panel/site-preferences.js
Due: wp-scripts lint-style, wp-scripts lint-js

📦 NEW: Logo & Lingo
  README.md
Due: none

Upgrade @wordpress/scripts to 3.2.1
  package-lock.json
  package.json
Due: none

Upgrade @wordpress/scripts to 3.2.1 (#154)
  package-lock.json
  package.json
Due: none

Replace chokidar with nsfw
  package-lock.json
  package.json
  src/services/grunt/index.js
  src/services/npm-watcher/index.js
Due: wp-scripts lint-js

Path conditions:
  wp-scripts lint-pkg-json: any of: packages/*/package.json
  wp-scripts lint-style: any of: *.scss
  wp-scripts lint-js: any of: *.js
