Repository pento/testpress: changes, and which lint-staged commands are due for each by the changed paths.
All: wp-scripts lint-pkg-json, wp-scripts lint-style, wp-scripts lint-js

.lintstagedrc:

{
    "packages/*/package.json": [
        "wp-scripts lint-pkg-json"
    ],
    "*.scss": [
        "wp-scripts lint-style"
    ],
    "*.js": [
        "wp-scripts lint-js"
    ]
}

Test precommit hook
  src/components/pages/index.js
Due: wp-scripts lint-js

Add editorconfig
  .editorconfig
  .huskyrc
  .lintstagedrc
Due: none

Move script-type services to a secondary docker-compose yml file
  src/services/docker/index.js
Due: wp-scripts lint-js

Move husky/lintstaged config to package.json
  .huskyrc
  .lintstagedrc
  package.json
Due: none

Fix incorrect path to package.json in lint-staged config
  package.json
Due: none

Fix versions of husky and lint-staged
  package-lock.json
  package.json
Due: none

Add a precommit hook that runs linting (#98)
  .editorconfig
  package-lock.json
  package.json
  src/components/pages/index.js
Due: wp-scripts lint-js

stdout/stderr are now Strings, not Buffers.
  src/services/docker/index.js
Due: wp-scripts lint-js

Move script-type services to a secondary docker-compose file (#99)
  src/services/docker/index.js
Due: wp-scripts lint-js

Add lint-js:fix and lint-css:fix and tidy up linting command names
  package.json
Due: none

Update package.json with browserlist
  package.json
Due: none

Move page styles from app stylesheet to page component stylesheet
  src/app/style.css
  src/components/pages/style.css
Due: none

Remove unused styles
  src/app/style.css
Due: none

Make about-panel class match component name
  src/components/about-panel/index.js
  src/components/about-panel/style.css
Due: wp-scripts lint-js

Convert pages component to BEM
  src/components/pages/index.js
  src/components/pages/style.css
Due: wp-scripts lint-js

Tidy up tab styles
  src/components/tabs/index.js
  src/components/tabs/style.css
Due: wp-scripts lint-js

Add lint-js:fix and lint-css:fix and tidy up linting command names (#100)
  package.json
Due: none

Refactor preference panel styles
  src/components/preferences-panel/basic-preferences.js
  src/components/preferences-panel/index.js
  src/components/preferences-panel/site-preferences.js
  src/components/preferences-panel/style.css
  src/components/tabs/style.css
Due: wp-scripts lint-js

Add node-sass
  package-lock.json
  package.json
Due: none

Convert stylesheets to scss
  src/app/index.js
  src/app/style.scss
  src/components/about-panel/index.js
  src/components/about-panel/style.scss
  src/components/pages/index.js
  src/components/pages/style.scss
  src/components/preferences-button/index.js
  src/components/preferences-button/style.scss
  src/components/preferences-panel/index.js
  src/components/preferences-panel/style.scss
  src/components/status-panel/index.js
  src/components/status-panel/style.scss
  src/components/tabs/index.js
  src/components/tabs/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Add stylelintrc
  .stylelintrc.json
Due: none

Sassify all the things
  src/components/pages/index.js
  src/components/pages/style.scss
  src/components/preferences-button/style.scss
  src/components/preferences-panel/style.scss
  src/components/tabs/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Refactor styles for status-panel
  src/components/status-panel/index.js
  src/components/status-panel/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Use electron version for browserlist config
  package.json
Due: none

Define which versions of npm and node should be used in the package.json engines property
  package.json
Due: none

Replace node-sass with sass package, using sass as an alias
  package-lock.json
  package.json
Due: none

CSS Audit (#103)
  .stylelintrc.json
  package-lock.json
  package.json
  src/app/index.js
  src/app/style.css
  src/app/style.scss
  src/components/about-panel/index.js
  src/components/about-panel/style.scss
  src/components/pages/index.js
  src/components/pages/style.css
  src/components/pages/style.scss
  src/components/preferences-button/index.js
  src/components/preferences-button/style.scss
  src/components/preferences-panel/basic-preferences.js
  src/components/preferences-panel/index.js
  src/components/preferences-panel/site-preferences.js
  src/components/preferences-panel/style.css
  src/components/preferences-panel/style.scss
  src/components/status-panel/index.js
  src/components/status-panel/style.css
  src/components/status-panel/style.scss
  src/components/tabs/index.js
  src/components/tabs/style.css
  src/components/tabs/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Use electron version for browserlist config (#104)
  package.json
Due: none

Add guided setup
  src/app/index.js
  src/components/status-panel/index.js
  src/components/status-panel/missing-daemon-info.js
  src/components/status-panel/missing-folder-info.js
  src/components/status-panel/not-ready-info.js
  src/components/status-panel/ready-info.js
  src/components/status-panel/style.css
  src/electron-runner.js
  src/services/docker/index.js
  src/services/grunt/index.js
  src/utils/status.js
Due: wp-scripts lint-js

Remove status-indicator which we no longer use
  package-lock.json
  package.json
Due: none

Remove dupliate style.css
  src/components/status-panel/style.css
Due: none

Add guided setup (#107)
  package-lock.json
  package.json
  src/app/index.js
  src/components/status-panel/index.js
  src/components/status-panel/missing-daemon-info.js
  src/components/status-panel/missing-folder-info.js
  src/components/status-panel/not-ready-info.js
  src/components/status-panel/ready-info.js
  src/components/status-panel/style.scss
  src/electron-runner.js
  src/services/docker/index.js
  src/services/grunt/index.js
  src/utils/status.js
Due: wp-scripts lint-style, wp-scripts lint-js

Add basic log viewing
  src/components/status-panel/not-ready-info.js
Due: wp-scripts lint-js

Make viewing of logs consistent across pages
  src/components/about-panel/index.js
  src/components/status-panel/not-ready-info.js
Due: wp-scripts lint-js

Use sentence case for view log button
  src/components/about-panel/index.js
  src/components/status-panel/not-ready-info.js
Due: wp-scripts lint-js

Add log viewing (#108)
  src/components/about-panel/index.js
  src/components/status-panel/not-ready-info.js
Due: wp-scripts lint-js

Use WordPress buttons
  package-lock.json
  package.json
  src/components/about-panel/index.js
  src/components/status-panel/missing-daemon-info.js
  src/components/status-panel/missing-folder-info.js
  src/components/status-panel/not-ready-info.js
  src/components/status-panel/ready-info.js
  src/components/status-panel/style.scss
  src/index.css
  src/index.js
  src/index.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Use IconButton and vertically center header items
  package-lock.json
  package.json
  src/components/pages/index.js
  src/components/pages/style.scss
  src/components/preferences-button/index.js
  src/components/preferences-button/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Make line height consistent
  src/components/about-panel/style.scss
  src/components/status-panel/style.scss
  src/index.scss
Due: wp-scripts lint-style

Adjust text colour
  src/app/style.scss
Due: wp-scripts lint-style
