Repository pento/testpress: changes, and which lint-staged commands are due for each by the changed paths.
All: wp-scripts lint-pkg-json, wp-scripts lint-style, wp-scripts lint-js

Add some whimsy to the About page
  src/components/about-panel/index.js
Due: wp-scripts lint-js

Use Button for repository link
  src/components/about-panel/index.js
  src/components/about-panel/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Remove ^ from npm dependencies
  package.json
Due: none

Update styling (#109)
  package-lock.json
  package.json
  src/app/style.scss
  src/components/about-panel/index.js
  src/components/about-panel/style.scss
  src/components/pages/index.js
  src/components/pages/style.scss
  src/components/preferences-button/index.js
  src/components/preferences-button/style.scss
  src/components/status-panel/missing-daemon-info.js
  src/components/status-panel/missing-folder-info.js
  src/components/status-panel/not-ready-info.js
  src/components/status-panel/ready-info.js
  src/components/status-panel/style.scss
  src/index.css
  src/index.js
  src/index.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Open a terminal with an wp alias to the docler run command
  src/components/status-panel/ready-info.js
Due: wp-scripts lint-js

Open a terminal with an wp alias to the docler run command (#105)
  src/components/status-panel/ready-info.js
Due: wp-scripts lint-js

Use a Button for the site link
  src/components/about-panel/style.scss
  src/components/status-panel/ready-info.js
  src/components/status-panel/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Use a Button for the site link (#111)
  src/components/about-panel/style.scss
  src/components/status-panel/ready-info.js
  src/components/status-panel/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

style status messages
  src/components/status-panel/not-ready-info.js
  src/components/status-panel/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Align status icons neatly to the left
  src/components/status-panel/not-ready-info.js
  src/components/status-panel/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

adjust margin
  src/components/status-panel/style.scss
Due: wp-scripts lint-style

Update progress screen styles (#113)
  src/components/status-panel/not-ready-info.js
  src/components/status-panel/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

dark mode, build to allow darkmode, styling and app style toggle
  package.json
  src/_colors.scss
  src/app/style.scss
  src/components/pages/style.scss
  src/components/preferences-panel/style.scss
  src/components/tabs/style.scss
  src/electron-runner.js
  src/index.scss
Due: wp-scripts lint-style, wp-scripts lint-js

darkmode tweaks
  src/app/style.scss
  src/components/about-panel/style.scss
  src/components/pages/style.scss
Due: wp-scripts lint-style

border fixed
  src/components/pages/style.scss
Due: wp-scripts lint-style

spinner updates
  src/components/status-panel/style.scss
Due: wp-scripts lint-style

Dark mode support (#102)
  package.json
  src/_colors.scss
  src/app/style.scss
  src/components/about-panel/style.scss
  src/components/pages/style.scss
  src/components/preferences-panel/style.scss
  src/components/status-panel/style.scss
  src/components/tabs/style.scss
  src/electron-runner.js
  src/index.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Add a panel for patch management
  src/app/index.js
  src/components/pages/index.js
  src/components/pages/style.scss
  src/components/patching-panel/index.js
  src/components/patching-panel/style.css
Due: wp-scripts lint-style, wp-scripts lint-js

Linting fixes.
  src/components/patching-panel/index.js
Due: wp-scripts lint-js

Add a basic userscript.
  src/services/grunt/index.js
  src/tools/testpress.user.js
Due: wp-scripts lint-js

Only add the browser button to diff/patch files.
  src/tools/testpress.user.js
Due: wp-scripts lint-js

Serve the userscript from TestPress
  package.json
  src/services/grunt/index.js
  src/services/grunt/testpress.user.js
Due: wp-scripts lint-js

Hook up the "Apply a Patch" section.
  src/components/patching-panel/index.js
  src/services/grunt/index.js
Due: wp-scripts lint-js

Hook up "Upload a Patch"
  src/app/style.scss
  src/components/patching-panel/index.js
  src/electron-runner.js
  src/services/grunt/index.js
Due: wp-scripts lint-style, wp-scripts lint-js

Use the correct className for the patching button.
  src/components/pages/index.js
Due: wp-scripts lint-js

Change the patching panel CSS to SCSS.
  src/components/patching-panel/index.js
  src/components/patching-panel/style.css
  src/components/patching-panel/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Switch to using an IconButton for the patching button.
  src/components/pages/index.js
  src/components/pages/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Remove a title attribute causing a double hover.
  src/components/preferences-button/index.js
Due: wp-scripts lint-js

Remove --useEnv from `grunt upload_patch`, per discussion on WordPress/grunt-patch-wordpress#74
  src/services/grunt/index.js
Due: wp-scripts lint-js

Align the buttons correctly.
  src/components/pages/index.js
  src/components/pages/style.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Fix icon button colour
  src/components/pages/style.scss
Due: wp-scripts lint-style

Remove .theme-light styles
  src/app/style.scss
  src/components/about-panel/style.scss
  src/components/pages/style.scss
  src/components/preferences-panel/style.scss
  src/components/status-panel/style.scss
  src/components/tabs/style.scss
Due: wp-scripts lint-style

Only override colors in .theme-dark
  src/app/style.scss
  src/components/pages/style.scss
  src/components/preferences-panel/style.scss
  src/components/tabs/style.scss
Due: wp-scripts lint-style

Remove duplication of font-size
  src/components/about-panel/style.scss
  src/components/status-panel/style.scss
  src/index.scss
Due: wp-scripts lint-style

Remove redundant color rule
  src/components/pages/style.scss
Due: wp-scripts lint-style

Tweak light theme colours
  src/app/style.scss
  src/components/pages/style.scss
Due: wp-scripts lint-style

Disable 'Open Docker' buton after you click it
  src/components/status-panel/missing-daemon-info.js
Due: wp-scripts lint-js

adds dark buttons
  src/app/style.scss
Due: wp-scripts lint-style

Copy the PHP config files to the tools directory on startup.
  src/services/docker/index.js
Due: wp-scripts lint-js

Ensure the PHP config files are available to be copied when TestPress is packaged.
  package.json
Due: none

Path conditions:
  wp-scripts lint-pkg-json: any of: packages/*/package.json
  wp-scripts lint-style: any of: *.scss
  wp-scripts lint-js: any of: *.js
